<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardDAO">

	
	<!-- oracle 인 경우 	
	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARD(SEQ, TITLE, WRITER, CONTENT, REGDATE, CNT)
		VALUES(board_seq.nextval,
			#{title}, #{writer}, #{content}, 
			sysdate, 0)
	</insert> -->
	
	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARD( TITLE, WRITER, CONTENT, REGDATE, CNT)
		VALUES(	#{title}, #{writer}, #{content}, now(), 0)
	</insert>
	
	<update id="updateBoard" parameterType="board">
		<![CDATA[
		UPDATE BOARD SET
		TITLE = #{title},
		CONTENT = #{content}
		WHERE SEQ = #{seq}
		]]>
	</update>
	
	<delete id="deleteBoard" parameterType="board">
		<![CDATA[
		DELETE BOARD
		WHERE SEQ = #{seq}
		]]>
	</delete>
	
	<select id="getBoard" resultType="board">
		<![CDATA[
		SELECT *
		FROM BOARD
		WHERE SEQ = #{seq}
		]]>
	</select>
	
	<!-- 	
	<select id="getBoardList" resultMap="boardResult"  >
			
			SELECT *
			FROM BOARD
			ORDER BY SEQ DESC
		
	</select> -->
	<!-- 검색 추가  -->
	<select id="getBoardList" resultType="board"  parameterType="hashmap">
		
		SELECT *
		FROM BOARD
		<where>
			<if test="searchCondition != null">
				${searchCondition} LIKE '%${searchKeyword}%'
			</if>
		</where>		
		ORDER BY SEQ DESC
		
	</select>
	
</mapper>